absl-py
accelerate
addict
aiofiles
aiohttp
aiosignal
albumentations
altair
annotated-types
antlr4-python3-runtime
anyio
appdirs
arrow
asttokens
async-timeout
attrs
backcall
backoff
beartype
beautifulsoup4
blessed
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
clip
cmake
CoCa-pytorch
comm
ConfigArgParse
contourpy
croniter
cryptography
cycler
dash
dash-core-components
dash-html-components
dash-table
dateutils
debugpy
decorator
deepdiff
docker-pycreds
easydict
einops
einops-exts
ema-pytorch
exceptiongroup
executing
fastapi
fastjsonschema
ffmpy
filelock
Flask
fonttools
frozenlist
fsspec
ftfy
future
gdown
gitdb
GitPython
glfw
google-auth
google-auth-oauthlib
gradio
gradio_client
grpcio
h11
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
iniconfig
inquirer
invisible-watermark
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
kornia
lightning
lightning-cloud
lightning-utilities
linkify-it-py
lit
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mkl-fft
mkl-random
mkl-service
mpmath
multidict
natsort
nbformat
nest-asyncio
networkx
ninja
numpy
nvdiffrast
oauthlib
omegaconf
open-clip-torch
open3d
opencv-python
opencv-python-headless
ordered-set
orjson
packaging
pandas
parso
pathtools
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
plyfile
prompt-toolkit
protobuf
psutil
ptyprocess
pudb
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydeck
pyDeprecate
pydub
Pygments
PyJWT
PyMCubes
Pympler
PyOpenGL
pyOpenSSL
pyparsing
pyquaternion
pyrsistent
PySocks
pytest
python-dateutil
python-editor
python-multipart
pytorch-lightning
pytorch-warmup
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
qudida
readchar
regex
requests
requests-oauthlib
resize-right
rich
rotary-embedding-torch
rsa
safetensors
scikit-image
scikit-learn
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
soupsieve
stack-data
starlette
starsessions
streamlit
sympy
-e git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
test-tube
threadpoolctl
tifffile
timm
tinycudann
tokenizers
toml
tomli
toolz
torch
torch-fidelity
torch-scatter
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
trimesh
triton
typing_extensions
tzdata
tzlocal
uc-micro-py
urllib3
urwid
urwid-readline
uvicorn
validators
vector-quantize-pytorch
wandb
watchdog
wcwidth
websocket-client
websockets
Werkzeug
widgetsnbextension
x-clip
xatlas
xformers
yarl
zipp
