omegaconf
scikit-image
opencv-python 
kornia 
einops 
matplotlib
pytorch_lightning==1.9.0
transformers
taming-transformers-rom1504

diffusers
carvekit-colab 
accelerate

trimesh==4.4.7 
PyMCubes

info-nce-pytorch 
connected-components-3d 
webdataset 
tensorboard

open3d

ninja 
plyfile 
mediapy 
xatlas

taichi==1.4.1