bpy==4.3.0
easydict==1.13
einops==0.8.0
gradio==5.12.0
ipdb==0.13.13
mathutils==3.3.0
matplotlib==3.4.3
miniball==1.2.0
networkx==3.1
numpy==1.21.2
omegaconf==2.3.0
open3d==0.17.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
scikit_learn==0.24.2
torch==2.0.1+cu118
tqdm==4.65.0
tqdm==4.62.1
trimesh==3.21.6
einops
