meshgpt_pytorch
pytorch-custom-utils
accelerate
beartype
classifier-free-guidance-pytorch
einops
ema-pytorch
pytorch-warmup
torch_geometric
torchtyping
vector-quantize-pytorch
x-transformers==1.26.6
tqdm
matplotlib
wandb
pyrr
trimesh
opencv-python
pyrender
open3d-python
easydict
chardet
deepspeed
omegaconf
scikit-image
setuptools
pytorch_lightning
mesh2sdf
numpy==1.26.4
point-cloud-utils
hydra-core==1.3.2