.idea/
.exr
__pycache__
./OUTPUT/*
#*.json
*.anime
*.ply
*.png
#*.jpg
*.exr
*.npz
*.blend1
*.bin
*.blend
depth
flow
.DS_Store
.vscode/
.idea/
log/
geometry/filter/build/
geometry/filter/.vscode/
vdb/build/
geometry/sdf/build
build/
modules/build/
modules/intersection/build/
modules/intersection/dist/
modules/intersection/*.egg-info/
dist/
*.egg-info/
tests/datas/