bpy==4.3.0
diffusers==0.31.0
easydict==1.13
gradio==5.12.0
gradio_client==1.5.4
httpx==0.28.1
ipdb==0.13.13
mathutils==3.3.0
matplotlib==3.4.3
mediapipe==0.10.11
numpy==1.21.2
nvdiffrast==0.3.0
omegaconf==2.3.0
open3d==0.17.0
openai==1.59.7
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
Pillow==9.5.0
Pillow==11.1.0
Requests==2.32.3
scipy==1.15.1
segment_anything.egg==info
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
tqdm==4.62.1
trimesh==3.21.6
xatlas==0.0.7
